include mixins/message

doctype html 
//- 반드시 doctype 입력
html(lang="ko")
    html
        title #{pageTitle} | Wetube
        //- pageTitle과 Wetube란 글자가 같이 혼용되었기에 위에처럼 밸류입력
    link(rel="stylesheet" href="/assets/css/styles.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css")
        //- fontawsome을 cdnjs library에서 다운
    body 
        if messages.error 
            +message("error", messages.error)
        if messages.info 
            +message("info", messages.info)
        include partials/header
        main
            block content
        include partials/footer.pug
    block scripts
        