doctype html 
html(lang="ko")
    html
        title #{pageTitle} | Wetube
        //- pageTitle과 Wetube란 글자가 같이 혼용되었기에 위에처럼 밸류입력
    link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body 
        header
            h1=pageTitle
            //- 변수만 입력되었기에 '='만 입력
            nav 
                ul 
                    li 
                        a(href="/") Home    
                    if loggedIn
                        li 
                            a(href="/users/edit") Edit Profile
                        li 
                            a(href="/users/logout") Log out
                        li 
                            a(href="/my-profile") #{loggedInUser.username}의 Profile
                        li 
                            a(href="/videos/upload") Upload Video                            
                    else 
                        li 
                            a(href="/login") Login        
                        li 
                            a(href="/join") Join                        
                    li 
                        a(href="/search") Search    

        main
            block content
        include partials/footer.pug