extends base.pug

block content 
    video(src="/"+video.fileUrl controls)
    //- controls를 이용하여 컨트롤 생성
    div
        p=video.description 
        small=video.createdAt
    a(href=`${video.id}/edit`)   Edit Video &rarr;
    br
    br
    a(href=`${video.id}/delete`)   Delete Video &rarr;